# 2.2.1. Reading the Dataset

In [89]:
using CSV, DataFrames, Statistics, CategoricalArrays

In [90]:
path = joinpath("..", "data")
# mkdir(path)  # run this only the first time 
data_file = joinpath(path, "tiny_house.csv")
open(data_file, "w") do f
    write(f, """
    NumRooms,RoofType,Price
    NA,NA,127500
    2,NA,106000
    4,Slate,178100
    NA,NA,140000""")
end

76

# 2.2.2. Data Preparation

In [91]:
# Some elbow grease is required. Change if find better way
data = DataFrame(CSV.File(data_file))
s = 0
n_ve = 0
for entry in data.NumRooms
    if entry == "NA"
        continue
    else
        s += parse(Int64, entry)
        n_ve += 1
    end
end
mean_nr = Int(s / n_ve)

data.NumRooms = parse.(Int64, recode(data.NumRooms, "NA"=>string(Char('0' + mean_nr))))
data

4×3 DataFrame
 Row │ NumRooms  RoofType  Price
     │ Int64     String7   Int64
─────┼────────────────────────────
   1 │        3  NA        127500
   2 │        2  NA        106000
   3 │        4  Slate     178100
   4 │        3  NA        140000

# 2.2.3. Data Preparation

In [69]:
v = []
for d in data.NumRooms
    if d != "NA"
        append!(v, parse(Int64, d))
    end
end
data.NumRooms = recode(data.NumRooms, "NA"=>Char(Int(mean(v))+'0'))

LoadError: ArgumentError: cannot `convert` value String3("2") (of type String3) to type of recoded levels (Char). This will happen with recode() when not all original levels are recoded (i.e. some are preserved) and their type is incompatible with that of recoded levels.

In [31]:
# 2.2.3. Conversion to the Tensor Format